@import "common.css";
/*******************************************************************************
 *                                                                             *
 * title-bar                                                                   *
 *                                                                             *
 ******************************************************************************/

.title-bar .buttons-group .button {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.title-bar .buttons-group .button:hover {
    -fx-background-color: -color-bg-subtle;
}

.title-bar .buttons-group .close-button:hover {
    -fx-background-color: -color-danger-fg;
}

.title-bar .buttons-group .close-button:hover > .ikonli-font-icon {
    -fx-icon-color: -color-light;
}