.window-controls .button {
    -fx-background-color: transparent;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.window-controls .button:hover {
    -fx-background-color: -color-bg-subtle;
}

.window-controls .close-button:hover {
    -fx-background-color: -color-danger-fg;
    -fx-background-radius: 0 10 0 0;
}

.window-controls .close-button:hover > .ikonli-font-icon {
    -fx-icon-color: -color-light;
}